In [2]:
import pandas as pd
record = pd.read_csv('draftkings-contest-entry-history.csv')
record1 = record[record.Entry_Fee != '$0.00'][['Entry_Fee','Place','Contest_Entries','Places_Paid','Points','Winnings_Non_Ticket']]

def tofloat(df,col):
    return record1[col].str.replace('$','').map(float)

record1.Entry_Fee = tofloat(record1, 'Entry_Fee')
record1.Winnings_Non_Ticket = tofloat(record1, 'Winnings_Non_Ticket')
record1['ROI'] = (record1['Winnings_Non_Ticket'] - record1['Entry_Fee'])/record1['Entry_Fee'] * 100
record1['TOP%'] = record1.Place.map(int)/record1.Contest_Entries.map(int)

record1.head()

winningavg = record1[record1.Winnings_Non_Ticket != 0]['TOP%'].mean()
losingavg = record1[record1.Winnings_Non_Ticket == 0]['TOP%'].mean()
totalavg = record1['TOP%'].mean()
roi = (record1.Winnings_Non_Ticket.sum() - (record1.Entry_Fee.sum()-3))/(record1.Entry_Fee.sum()-3) * 100

In [3]:
record1

,Entry_Fee,Place,Contest_Entries,Places_Paid,Points,Winnings_Non_Ticket,ROI,TOP%
0,3.0,14,34,15,262.50,6.0,100.0,0.411765
2,3.0,6,33,15,257.75,6.0,100.0,0.181818
3,5.0,2,29,15,268.00,10.0,100.0,0.068966
4,3.0,6,23,10,278.50,6.0,100.0,0.260870
5,3.0,21,34,15,231.50,0.0,-100.0,0.617647
6,5.0,23,34,15,231.50,0.0,-100.0,0.676471
7,5.0,14,34,15,263.00,10.0,100.0,0.411765
8,3.0,5,34,15,271.75,6.0,100.0,0.147059

In [4]:
roi

62.96296296296296